{% extends 'owner/base.html' %}


{% block main %}
        
        <div class="content">
            <div class="container-fluid">
                <h3><a href="/owner/addpg/">Add New PG</a></h3>
                <table class="table">
                    <tr >
                        <td style="border-top-style:none;font-size:24px;">Id</td>
                        <td style="border-top-style:none;font-size:24px;">Address</td>
                        <td style="border-top-style:none;font-size:24px;">Price</td>
                        <td style="border-top-style:none;font-size:24px;">Status</td>
                        <td style="border-top-style:none;font-size:24px;">Command</td>                        
                    </tr> 
                  {% for pg in pgs %}
                    <tr class="{% if pg.isverified %}success{% else %}danger{% endif %}">
                        <td>{{pg.id}}</td>
                        <td>{{pg.address}}</td>
                        <td>{{pg.rent}}</td>
                        <td>{% if not pg.isverified %}Pending for Verification{% else %}Verified Property{% endif %}</a></td>
                        <td><a  href="/owner/update/{{pg.id}}/">Edit</a> | <a href="/owner/delete/{{pg.id}}/">Delete</a> | <a href="/owner/update/images/{{pg.id}}/">Manage Images</a> </td>
                    </tr>               
                {% endfor %}
                </table>                
    
{% endblock %}