{% extends 'user/base.html' %}
{% load static %}

{% block 'main' %}
<div class="">
    
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
        {% for pg in pgs %}
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-1";"></div>
              <h2>
                {% for amn in pg.ameneties %}
                {{amn}}  
                {% endfor %}
                facilities available
              </h2>
              <blockquote>              
              <p class="location"><span class="glyphicon glyphicon-map-marker"></span> {{pg.address}}, {{pg.location}}, {{pg.city}}</p>
              <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p>
              <a href="/pg/details/{{pg.id}}/"><cite style="color:black">₹ {{pg.rent}}</cite></a>
              </blockquote>
            </div>
          </div>
        {% endfor %}
        </div><!-- /sl-slider -->



        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <!--
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        -->
        </nav>

      </div><!-- /slider-wrapper -->
</div>



<div class="banner-search">
  <div class="container"> 
    <!-- banner -->
    <h3>Find Paying Guests</h3>
    <form action="/search/" method="post">
    {% csrf_token %}
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <input type="text" class="form-control" name="location" placeholder="Location">
          <div class="row">
            <div class="col-lg-3 col-sm-3 ">
              <select name="forgender" class="form-control">
                <option>Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
              <select name="price" class="form-control">
                <option>Price</option>
                <option>₹1,000 - ₹3,000</option>
                <option>₹3,000 - ₹6,000</option>
                <option>₹6,000 - ₹10,000</option>
                <option>₹10,000 - above</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
            <select name="occupancy" class="form-control">
                <option>Occupancy</option>
                <option>below - 5</option>
                <option>5 - 10</option>
                <option>10 - above</option>
              </select>
              </div>
              <div class="col-lg-3 col-sm-4">
              <button class="btn btn-success"  onclick="window.location.href='buysalerent.php'">Find Now</button>
              </div>
          </div>
          
          
        </div>

        <!-- 
        <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
          <p>Join now and get updated with all the properties deals.</p>
          <button class="btn btn-info"   data-toggle="modal" data-target="#loginpop">Login</button>        </div>
        -->

      </div>
    </div>
    </form>
  </div>
</div>

<!-- banner -->
<div class="container">
  <div class="properties-listing spacer"> <a href="/search/" class="pull-right viewall">View All Listing</a>
    <h2>Featured Properties</h2>
    <div id="owl-example" class="owl-carousel">


    {% for pg in pgs %}
      <div class="properties" style="min-height: 440px">
        <div class="image-holder"><img style="height:220px;width:100%" src="images/{{pg.image}}" class="img-responsive" alt="properties"/>
          <div class="status new">New</div>
        </div>
        <h4><a href="property-detail.php">{{ pg.location }}</a></h4>
        <p class="price">Price: ₹{{ pg.rent }}</p>
        
        <div class="listing-detail" style="height:60px;">
          {% for amn in pg.ameneties %}
          <label style="padding:5px;color:white;background-color:black;maring:5px;border-radius: 20px">{{amn}}</label> 
          {% endfor %}
        </div>

        <a class="btn btn-primary" href="/pg/details/{{pg.id}}/">View Details</a>
      </div>
    {% endfor %}
      
    </div>
    
  </div>

  <!--
  <div class="spacer">
    <div class="row">
      <div class="col-lg-6 col-sm-9 recent-view">
        <h3>About Us</h3>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.<br><a href="about.php">Learn More</a></p>
      
      </div>
      
      <!--
      <div class="col-lg-5 col-lg-offset-1 col-sm-3 recommended">
        <h3>Recommended Properties</h3>
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-lg-4"><img src="{% static 'user/simages/properties/1.jpg' %}" class="img-responsive" alt="properties"/></div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                  <p class="price">$300,000</p>
                  <a href="property-detail.php" class="more">More Detail</a> </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-4"><img src="{% static 'user/images/properties/2.jpg' %}" class="img-responsive" alt="properties"/></div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                  <p class="price">$300,000</p>
                  <a href="property-detail.php" class="more">More Detail</a> </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-4"><img src="images/properties/3.jpg" class="img-responsive" alt="properties"/></div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                  <p class="price">$300,000</p>
                  <a href="property-detail.php" class="more">More Detail</a> </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-4"><img src="{% static 'user/images/properties/4.jpg' %}" class="img-responsive" alt="properties"/></div>
                <div class="col-lg-8">
                  <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                  <p class="price">$300,000</p>
                  <a href="property-detail.php" class="more">More Detail</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </div>
  </div>
-->
</div>

{% endblock %}